.author-info__name {
    color: #ff7242;
}

#footer {
    background: transparent !important;
}

#page-header #site-title {
    color: #FF69B4;
}

#nav #site-name {
    color: #FF69B4 !important;
}

.footer_custom_text {
    color: #00c4b6;
}

#footer-wrap a {
    color: #00c4b6;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2em;
}

body {
    cursor: url(/Blog/img/arrow.cur), auto;
}